<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td><b>Nome</b></td>
			<td><b>Descrição</b></td>
			<td><b>Departamento</b></td>
			<td><b>Preço</b></td>
			<td><b>Quantidade</b></td>
			<td colspan="2">
		</tr>
	</thead>
	<tbody>
		<%= render @produtos_por_departamento %>
	</tbody>
</table>

<%= link_to 'Edit', edit_departamento_path(@departamento) %> |
<%= link_to 'Back', departamentos_path %>
